*{
    margin: 0;
    padding: 0;
}
header nav{
    background-color: rgb(97, 22, 22);
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: large;
    color: rgb(255, 220, 167);

}
nav ul li:hover{
    display: inline;
        background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
nav ul li a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

header{
background-color: rgb(139, 36, 36);
color: rgb(255, 214, 164);
}
header h1{
    text-align: center;
}
body{
    background-color: rgb(255, 220, 167);
    color: rgb(146, 36, 36);
}
body ul li{
    text-decoration: dotted;
}
footer{
    background-color: rgb(146, 36, 36);
    
    text-align: center;
}
footer a{
     text-decoration-line: none;
    color: rgb(255, 220, 167);
    font-size: larger;

}
footer h2{
    color: rgb(255, 220, 167);
    font-size: large;
}
footer h3{
    color: rgb(255, 220, 167);
}
body p{
    text-aling:center;
    font-size:big
}






